@import 'normalize.css';
/* BlueprintJS Core styles */
@import '~@blueprintjs/core/lib/css/blueprint.css';

/* BlueprintJS Select styles (if you're using Select component) */
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

.bp5-tree-node-content {
  height: auto !important;
}

/*
input['number'] {
  padding: 6px !important;
}
*/

.bp5-editable-text-input {
  background: rgba(17, 20, 24, 0.3);
  box-shadow: none;
  color: #f6f7f9;
  font-size: 14px;
  padding: 0px;
  border: none;
}
.bp5-editable-text::before {
  margin-left: 4px;
  margin-right: 4px;
}

.bp5-tree-node-content {
  padding-right: 0px;
}
.bp5-tree-node-content-1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.bp5-tree-node-content-2 {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  padding-left: 38px;
}
.bp5-tree-node-caret,
.bp5-tree-node-caret-none {
  min-width: 0px;
}
/* .bp5-tree-root > .bp5-tree-node { */
/*   margin-bottom: 20px; */
/*   --tw-shadow: 0 0 3px 0 #00000080 !important; */
/*   --tw-shadow-colored: 0 0 3px 0 var(--tw-shadow-color) !important; */
/*   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important; */
/* } */

/* React Flow */
.react-flow__edge-path {
  stroke: #333;
  stroke-width: 2;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}
